body {
    background-color: rgb(255, 255, 255);
    width: 200px;
    text-align: center;
    padding: 10px 0;
}

h2 {
    background-image: url('../images/clunch-128.png');
    padding-top: 140px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 120px auto;
    font-size: 0;
}

div {
    font-size: 12px;
    padding: 10px 0;
}

div>a {
    color: rgb(4, 142, 223);
}

div>a:hover {
    text-decoration: underline;
}
